.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 80px;
    padding-top: 5px;
    padding-left: 15px;
    
    
}
.sidebar-link{
    height: 74px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(238, 230, 230);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
    
}
.sidebar-link div{
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    color: rbg(252,252,252);

}